<h1>Dragonball Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{name()}}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName>
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (change)="power.set(+txtPower.value)"
      (input)="power.set(+txtPower.value)"
      #txtPower>

    <button class="mt-2 btn btn-primary" (click)="addCharacter()">Agregar</button>

  </div>

  <div class="row col-12 col-sm-6">
    <ul>
      @for (character of characters(); track character.id; let index = $index) {
        @if (character.power > 500) {

          <li>
            <span>{{index + 1}}-{{character.name}}</span>
            <strong
            [class.text-danger]="character.power > 9000"
            [class.text-info]="character.power < 9000"
            >
            <!-- [ngClass]="powerClasses()" -->
            ({{character.power}})</strong>
          </li>

        }
        @else {
          <li><strong>Aqui no vale la pena ver nada :D</strong></li>
        }
      }
    </ul>
  </div>
</section>
