<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre y apellido</label>
        <div class="col-sm-9">
          <input formControlName="name" type="text" class="form-control" placeholder="Nombre del usuario" />
          @if (formUtils.fieldHasErrors(myForm,'name')) {
            <span class="form-text text-danger"> El campo debe tener nombre y apellido </span>
          }
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input formControlName="email"  type="email" class="form-control" placeholder="Email del usuario" />
          @if (formUtils.fieldHasErrors(myForm,'email')) {
            <span class="form-text text-danger"> {{formUtils.getFieldError(myForm,'email')}} </span>
          }
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input formControlName="username"  type="text" class="form-control" placeholder="Nombre código del usuario" />
          @if (formUtils.fieldHasErrors(myForm,'username')) {
            <span class="form-text text-danger"> {{formUtils.getFieldError(myForm,'username')}} </span>
          }
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input formControlName="password"  type="password" class="form-control" placeholder="Password de su cuenta" />

          @if (formUtils.fieldHasErrors(myForm,'password')) {
            <span class="form-text text-danger"> {{formUtils.getFieldError(myForm,'password')}} </span>
          }
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input formControlName="password2"  type="password" class="form-control" placeholder="Confirmar la contraseña" />

          @if (formUtils.fieldHasErrors(myForm,'password2')) {
            <span class="form-text text-danger"> {{formUtils.getFieldError(myForm,'password2')}} </span>
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid:{{myForm.valid}}</h2>
<h2>Form Status:{{myForm.status}}</h2>
<h2>Form Pending:{{myForm.pending}}</h2>

<h2>Form errors</h2>
<pre>{{ myForm.errors| json }}</pre>

<h2>Form value</h2>
<pre>{{ myForm.value| json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.get('name')?.errors| json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.get('email')?.errors| json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.get('username')?.errors| json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.get('password')?.errors| json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.get('password2')?.errors| json }}</pre>
